/* Global */
:root {
  --site-width: 100rem;
  --background-color: black;
  --off-white: #EFEFEF;
  --off-black: #343434;
  --grey: #424242;
  --lighter-grey: #A1A1A1;
  --spacer: 3rem;
  --white: #ffffff;
}

/* Grid */
/* Flex Grid */
/* Rows */
.row {
  display: flex;
  flex-flow: row;
}

/* Columns */
.column {
  display: flex;
  flex-flow: column;
  flex: 1;
}

/* Global CSS */

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  font-family: "Open Sans";
  color: var(--off-black);
  background-color: var(--grey);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-top: var(--spacer);
}

h1 {
  font-size: 3rem;
}

.center {
  display: flex;
  align-items: center;
}

.site-width {
  max-width: var(--site-width);
  margin: 0 auto;
}

.img-wrapper{
  width: 100%;
}

ul.plain {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  max-height: 50rem;
  overflow: hidden;
  background-color: var(--off-white);
}

header .profile {
  background-image: url('https://secure.gravatar.com/avatar/7cbe33577b339a1bc3d75eb6a9f3a0e5?size=700');
  background-size: cover;
  background-position: center;
  flex: 2;
}

header .content {
  max-height: 50rem;
  flex: 3;
}

header .content .about {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 30rem;
  padding-left: var(--spacer);
}

header .content .about h1 {
  text-transform: uppercase;
  margin: 0;
}

header .content .about .job {
  text-transform: uppercase;
  margin-top: 1rem;
  font-weight: 600;
  margin-left: 0.2rem;
}

header .content .about .slogan {
  max-width: 20rem;
  margin-top: 1rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

header .content .contact {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 20rem;
  background-color: var(--off-black);
  padding-left: var(--spacer);
  padding-right: var(--spacer);
  color: var(--white);
}

@media all and (max-width: 800px) {
  header.row {
    flex-flow: column;
    max-height: none;
  }

  header .profile {
    display: none;
  }

  header .content .about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--spacer);
    max-height: 20rem;
  }

  header .content .about .slogan {
    text-align: justify;
    max-width: none;
    max-width: 50rem;
  }

}

header .content .contact ul {
  display: flex;
}

header .content .contact li {
  border-radius: 0.2rem;
  height: 5rem;
  flex: 1;
  background-color: var(--grey);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: calc(var(--spacer) * .5);
  margin-left: calc(var(--spacer) * .5);
  transition: .2s ease-in-out;
}

header .content .contact li:hover {
  background-color: var(--off-white);
}

header .content .contact li a {
  color: white;
  transition: .1s ease-in-out;
}

header .content .contact li:hover a {
  color: var(--off-black);
}

header .content .contact li i {
  font-size: 4rem;
}

/* Generic Article */
.post-list .single-post {
  padding: calc(var(--spacer) * 2);
  background-color: var(--off-black);
  margin: 3rem 0;
  border-radius: .1rem;
  color: var(--white);
  transition: .1s ease-in-out;
  font-size: 1.6rem;
}

.post-list a {
  color: var(--white);
  text-decoration: none;
}

.post-list .single-post h1 {
  margin: 0;
}

/* Home */
.home .post-list .single-post:hover {
  transform: scale(1.1);
}

.home h2 {
  text-align: center;
  color: var(--white);
  font-size: 3rem;
}

/* Article */
.article img {
  max-width: 100%;
  margin: 0 auto;
}

.article h1 {
  font-size: 4rem;
}

.article pre {
  background-color: var(--grey);
  padding: 2rem;
  overflow: scroll;
}

.article hr {
  border: .3rem solid var(--grey);
  margin: 2rem 0;
}

.article .date {
  color: var(--white);
  font-weight: 200;
}

.article h2 {
  font-size: 3.2rem;
}

.article h3 {
  font-size: 3rem;
}

.article h3 {
  font-size: 2.8rem;
}

.article a {
  color: var(--lighter-grey);
  text-decoration: none;
  text-decoration: underline;
}

.article a:hover {
  color: var(--off-white);
  text-decoration: none;
}

.article .goback {
  margin-top: 3rem;
}

.article .goback a {
  background-color: var(--off-black);
  padding: 2rem;
  text-decoration: none;
  color: white;
  transition: .1s ease-in-out;
  text-transform: uppercase;
}

.article .goback a:hover {
  background-color: var(--off-white);
  padding: 2rem;
  text-decoration: none;
  color: var(--off-black);
}


/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background-color: var(--off-black);
  padding: var(--spacer) 0;
  color: var(--white);
}

footer h2 {
  margin: 0;
  margin-top: 1rem;
}

footer h3 {
  margin: 0;
  font-weight: 300;
}


/* Highlighting */
.highlight .hll { background-color: #49483e }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: var(--lighter-grey); } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */
.highlight .gh { } /* Generic Heading & Diff Header */
.highlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */
