---
layout: default
---

<div class="home">
    <ul class="post-list">
    {% for post in paginator.posts %}
        <li class="single-post">
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h1>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h1>
            <div class="post-content">
                {{ post.content }}
            </div>
            {% for tag in post.categories %}
            <ul class="post-meta">
                 <li> {{tag}} </li>
            </ul>
            {% endfor %}
        </li>
    {% endfor %}
    </ul>

    <!-- Pagination links -->
    {% include pagination.html %}

</div>
