<header class="row">
  <div class="profile column">
      <div class="img-wrapper"> <img src="https://secure.gravatar.com/avatar/7cbe33577b339a1bc3d75eb6a9f3a0e5?size=700"> </div>
  </div>
  <div class="content column">
    <div class="about">
      <h1> Chris Burgin </h1>
      <span class="job"> Louisville Developer </span>
      <span class="slogan"> Hi my name is Chris, my passion is for ministry.
         I believe in taking the skills God has given you and using
         them to serve the Lord. </span>
    </div>
    <div class="contact">
      <ul class="plain">
        <li><a href="#"><i class="fa fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-flickr"></i></a></li>
      </ul>
    </div>
  </div>
</header>
