<header class="row">
  <div class="profile column">
  </div>
  <div class="content column">
    <div class="about">
      <h1> Chris Burgin </h1>
      <span class="job"> Full Stack Developer, Louisville KY </span>
      <span class="slogan"> Hi my name is Chris, my passion is for the Lord.
         I believe in taking the skills God has given you and using
         them to serve. </span>
    </div>
    <div class="contact">
      <ul class="plain">
        <li><a href="http://github.com/chrisburgin95"><i class="fa fa-github"></i></a></li>
        <li><a href="http://twitter.com/chrisburgin95"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.flickr.com/photos/122919774@N07/"><i class="fa fa-flickr"></i></a></li>
        <li><a href="mailto:chrisburgin95@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
      </ul>
    </div>
  </div>
</header>
