<header class="site-header">
  <div class="wrapper">
    <div class="title-logo">
        <img src="{{ "/static/img/logo.svg" | prepend: site.baseurl }}">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <!-- Main Nav -->
    <nav class="site-nav">
        <a class="page-link" href="{{ '/archive' | prepend: site.baseurl }}">Archive</a>
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
        <div>
            <a class="page-link" target="blank" href="http://twitter.com/{{site.twitter_username}}"><i class="fa fa-twitter"></i></a>
            <a class="page-link" target="blank" href="http://github.com/{{site.github_username}}"><i class="fa fa-github"></i></a>
            <a class="page-link" target="blank" href="https://www.flickr.com/photos/122919774@N07/"><i class="fa fa-flickr"></i></a>
            <a class="page-link" target="blank" href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a>
        </div>
    </nav>

    <!-- Mobile Menu -->
    <div id="menu">
        <a class="page-link" href="{{ site.baseurl }}">Home</a>
        <a class="page-link" href="{{ '/about' | prepend: site.baseurl }}">About</a>
        <a class="page-link" href="{{ '/archive' | prepend: site.baseurl }}">Archive</a>
    </div>

  </div>
</script>
</header>
