<!-- Pagination links -->
{% if paginator.previous_page or paginator.next_page %}
    <div class="pagination">
        <div>
            {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
            {% else %}
                <span class="previous">Previous</span>
            {% endif %}

            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}" class="next">Next</a>
            {% else %}
                <span class="next ">Next</span>
            {% endif %}
        </div>
        <a href="/archive"><span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span></a>
    </div>
{% endif %}
