@include media-query($mobile) {
    .slicknav_menu {
        display: block;
        a {
            color: white;
        }

        .slicknav_label {
            background-image: url(http://chrisburgin.me/static/img/logo.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 30px;
        }
    }

    .slicknav_nav {
        a.page-link {
            font-size: 25px;
            font-family: Oswald;
        }
    }

    .site-header {
        display: none;
    }
}

@include media-query($content-width) {
    .post-list {
        > li {
            box-shadow: none;
        }

        h1 a {
            font-size: 40px;
        }
    }
}
